html {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #0a0a23;
}

/*You can use CSS to make elements with this class completely hidden from the visual page, but still be announced by screen readers. The CSS you are about to write is a common set of properties used to ensure elements are completely hidden visually.*/
span[class~="sr-only"] {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    padding: 0;
    margin: -1px;
}